<h2>Tabella Ticket</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Username</th>
            <th>Ruolo</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets">
            <td>{{ ticket.descrizione }}</td>
            <td>{{ ticket.id_utente }}</td>
            <td>{{ ticket.date }}</td>
            <td>Utente</td>
            <td class="actions">
                <button class="action-button edit" (click)="modificaTicket()">Modifica</button>
                <button class="action-button delete" (click)="eliminaTicket()">Elimina</button>
            </td>
        </tr>
    </tbody>
</table>
