<h2>Tabella Utenti</h2>
<table>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Username</th>
            <th scope="col">Ruolo</th>
            <th scope="col">Azioni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let utente of utenti">
            <th scope="row">1</th>
            <td>{{utenti.nome}}</td>
            <td>{{utenti.cognome}}</td>
            <td>{{utenti.username}}</td>
            <td>{{utenti.ruolo}}</td>
            <td class="actions">
                <button class="action-button edit" onclick="modificaUtente(this)">Modifica</button>
                <button class="action-button delete" onclick="eliminaUtente(this)">Elimina</button>
            </td>
        </tr>
    </tbody>
</table>