container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-family: 'lato', sans-serif;
    color: #fff;
    background: #1e1b2a;
    background: #1e1b2a;
    background: -webkit-linear-gradient(to top, #1e1b2a , #bfadfb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1e1b2a , #bfadfb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.th, .td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.th {
    background-color: #f2f2f2;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.action-button {
    padding: 5px 10px;
    cursor: pointer;
}

.action-button.delete {
    color: #d44747;
}
.action-button.delete:hover {
    color: #fff;
    background-color: #d44747;
}

.action-button.edit {
    color: #60ca6e;
}
.action-button.edit:hover {
    color: #fff;
    background-color: #60ca6e;
}